$element-width: 800px;

%box-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.def-container {
    margin-top: 35px;
    .def {
        padding: 30px;
        width: $element-width;
        margin: 30px auto;
        @extend %box-shadow;
        h2 {
            font-size: 27px;
            font-family: 'Poppins';
            margin-bottom: 7px;
        }
        p {
            font-size: 18px;
            font-family: 'Quando';
        }
    }

    .ex {
        width: $element-width;
        margin: 40px auto;
        @extend %box-shadow;
        padding: 30px;
        h3 {
            font-size: 22px;
            font-family: 'Poppins';
        }
        ul {
            margin-top: 10px;
            margin-left: 35px;
            list-style-type: circle;
            font-family: 'Quando';
        }
    }

    figure {
        width: $element-width;
        padding: 10px;
        margin: 30px auto;
        @extend %box-shadow;
        text-align: center;
        font: 12px 'Quando';
    }

    .note {
        width: $element-width;
        margin: 0 auto;
        font: 15px 'Quando';
        line-height: 25px;
        span {
            display: inline-block;
            position: relative;
            &:first-child {
                font-weight: bold;
                color: rgb(136, 7, 7);
            }
            &:first-child::after {
                content: '';
                position: absolute;
                width: 95%;
                height: 3px;
                background: rgb(136, 7, 7);
                bottom: 0;
                left: 0;
            }
        }
    }
    
}