$element-width: 800px;

%box-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

div.epend-container-2 {
    p.first-p {
        width: $element-width;
        padding: 20px;
        margin: 30px auto;
        margin-top: 20px;
        @extend %box-shadow;
        font-family: 'Quando';
        line-height: 25px;
    }

    p.snd-p {
        width: $element-width;
        padding: 20px;
        margin: 30px auto;
        @extend %box-shadow;
        font-family: 'Quando';
        line-height: 25px;
    }

    p.trd-p {
        width: $element-width;
        padding: 20px;
        margin: 30px auto;
        @extend %box-shadow;
        font-family: 'Quando';
        line-height: 25px;
    }

    figure {
        width: $element-width;
        margin: auto;
        text-align: center;
        figcaption {
            font: 13px 'Quando';
            margin-top: 10px;
        }
        img {
            display: inline-block;
            width: 250px;
            height: 250px;
        }
    }
}