.penduleElastiqueRoot {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fff;

  .animationSVG {
    height: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(19, 108, 180, 0.801);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .forceChoose {
    list-style: none;
    padding: 1rem;

    li {
      margin: 1rem;
    }

    .groupChoice {
      display: flex;
      align-items: center;

      .orientationChoosed {
        color: crimson;
        font-size: 0.8rem;
        cursor: pointer;

        &:hover{
          font-weight: bold;
        }
      }
    }
  }
}
