$buttons-width: 350px;
$bg: radial-gradient(circle at 13% 47%, rgba(140, 140, 140,0.03) 0%, rgba(140, 140, 140,0.03) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(143, 143, 143,0.03) 0%, rgba(143, 143, 143,0.03) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65, 65, 65,0.03) 0%, rgba(65, 65, 65,0.03) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(60, 60, 60,0.03) 0%, rgba(60, 60, 60,0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150, 150, 150,0.03) 0%, rgba(150, 150, 150,0.03) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25, 25, 25,0.03) 0%, rgba(25, 25, 25,0.03) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));

%box-shadow {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.menu__buttons_quiz {
  position: absolute;
  top: 55%;
  left: 90%;
  transform: translate(-90%, -55%);
  width: $buttons-width;
  height: $buttons-width;
  &::before {
      content: '';
      position: absolute;
      bottom: 0;
      transform: rotate(-45deg);
      transform-origin: left;
      height: 1px;
      width: 494px;
      background: var(--color-white);
  }
  ul {
      position: relative;
      width: 100%;
      height: 100%;
      li {
          @extend %box-shadow;
          display: block;
          width: 130px;
          height: 130px;
          position: absolute;
          border: none;
          list-style-type: none;
          border-radius: 50%;
          background: var(--color-white);
          cursor: pointer;
          animation: on-load 0.3s ease-in-out forwards;
          &::after {
              content: "";
              display: block;
              position: absolute;
              background: transparent;
              border: 2px dashed var(--color-white);
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              border-radius: 50%;
              transition: all 0.3s cubic-bezier(0.53, -0.67, 0.73, 0.74);
              transform: none;
              opacity: 1;
          }
          &:first-child {
              top: 13%;
              left: 9%;
              animation-delay: calc(var(--item-count-1) * 150ms);
          }
          &:nth-child(2) {
              right: 9%;
              bottom: 13%;
              animation-delay: calc(var(--item-count-2) * 150ms);
          }
          &:hover::after {
              transition: all 0.3s cubic-bezier(0.37, 0.74, 0.15, 1.65);
              transform: scale(1.1);
              opacity: 1;
          }
          .liFa,
          span {
              position: absolute;
          }
          .liFa {
              position: relative;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
          }
          span {
              top: 70%;
              left: 50%;
              transform: translateX(-50%);
              transition: all 0.3s cubic-bezier(0.37, 0.74, 0.15, 1.65);
              opacity: 0;
          }
          &:hover {
              span {
                  opacity: 1;
              }
          } 
      }
  }
}

.penduleElastiqueRoot {
  position: absolute;
  margin-top: 1rem;
  padding: 1rem;
  background: $bg;
  background-size: cover;
  background-clip: content-box;
  border: 1px solid #ddd;
  width: 1200px;
  h3 {
    margin-left: 10px;
    margin-top: 2px;
  }
  p {
    margin-left: 10px;
  }

  .animationSVG {
    height: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(19, 108, 180, 0.801);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .forceChoose {
    list-style: none;
    padding: 1rem;

    li {
      margin: 1rem;
    }

    .groupChoice {
      display: flex;
      align-items: center;

      .orientationChoosed {
        color: crimson;
        font-size: 0.8rem;
        cursor: pointer;

        &:hover{
          font-weight: bold;
        }
      }
    }
  }
}
