:root {
  --color-white: #fff;
  --item-count-1: 2;
  --item-count-2: 3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(-170deg, #064997 20%, #105ba7);
  background-position: 100%;
}

body {
  background-image: linear-gradient(270deg, #2b67ac 3px, transparent 0),
    linear-gradient(#2b67ac 3px, transparent 0),
    linear-gradient(270deg, rgba(43, 103, 172, 0.4) 1px, transparent 0),
    linear-gradient(#2b67ac 1px, transparent 0),
    linear-gradient(270deg, rgba(43, 103, 172, 0.4) 1px, transparent 0),
    linear-gradient(#2b67ac 1px, transparent 0) !important;
  background-size: 112px 112px, 112px 112px, 56px 56px, 56px 56px, 28px 28px,
    28px 28px;
  font-family: Josefin Sans, sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

